* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  padding: 5em;
  font-size: 2em;
  background-color: #2e2d2d;
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 25%;
}

header h1,
p {
  margin: auto;
  font-weight: 200;
  color: rgb(153, 122, 122);
}

header h1 strong {
  color: white;
}

.products-list {
  display: flex;
  flex-direction: column;
}

.product-card {
  display: flex;
  align-items: center;
  padding: 50px;
  margin-left: 20px;
}

.product-image img {
  width: 300px;
  border-radius: 20px;
}

.product-price {
  padding: 50px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #2e2d2d;
}

footer img {
  width: 40px;
}
