* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #000000;
}

h1,
h2,
p {
  color: #ffffff;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 73px;
  background-color: #000000;
}

header h1 {
  padding: 7px;
  font-size: 59px;
}

main img {
  width: 100vw;
}

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  width: 100vw;
  height: 348px;
}

.about .text-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 475px;
  height: 197px;
}

.img-about img {
  width: 399px;
  height: 237px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1a13;
}

.feature h2 {
  margin-top: 75px;
  font-size: 47px;
}

.main-card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 348px;
}

.card-container i {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 70px;
}

.card-container p {
  font-size: 30px;
  padding: 20px;
}

.image-gallery {
  display: flex;
  justify-content: center;
  height: 348px;
  width: 100vw;
}

.image-block {
  display: flex;
  align-items: center;
  gap: 20px;
}

.image-block img {
  width: 316px;
  height: 202px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 102px;
  color: #ffffff;
  background-color: #1e1a13;
}
